<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>685913601220-722aacbb09ed6c916f0591.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685913601220-722aacbb09ed6c916f0591</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>685913601220-e9ed179c34b4196b6f0591.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAEmOUUM2fdUoT8Wr8eM6tZ5CWPagAtKq4</string>
	<key>GCM_SENDER_ID</key>
	<string>685913601220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalProjectBizconnectApplicationDemo</string>
	<key>PROJECT_ID</key>
	<string>finalprojectbizconnect</string>
	<key>STORAGE_BUCKET</key>
	<string>finalprojectbizconnect.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685913601220:ios:722aacbb09ed6c916f0591</string>
</dict>
</plist>
